name: violetpatch
description: "A Flutter project for audio patching and processing"
publish_to: "none"

version: 0.0.1+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  audio_plugin:
    path: ../audio_plugin
  shared_preferences: ^2.2.3
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
